<div class="row">
  <div class="col s4" [appAutoSize]="80">
    <!-- <input class="validate" type="text" [(ngModel)]="end" name="end" id="end"> -->
    <!-- <label for="password">{{ 'HOME.FORM.ARRIVAL_DESTINATION' | translate }}</label> -->


    <div class="row">

      <ul id="tabs-swipe-demo" class="tabs">
        <li class="tab col s6">
          <a class="active" href="#trajet">Trajet</a>
        </li>
        <li class="tab col s6">
          <a href="#condition">Conditions</a>
        </li>
      </ul>

      <!-- tab 1 -->
      <div id="trajet" class="col s12 tabs-content">
        <div class="row center-align tabs-inner-content">
          <div class="input-field col s10">
            <i class="material-icons prefix">location_searching</i>
            <input disabled [value]="start" id="disabled" type="text" class="validate">
          </div>

          <div class="input-field col s10">
            <i class="material-icons prefix">location_on</i>
            <input type="text" [(ngModel)]="end" [options]='options' (setAddress)="getAddress($event)" (FormatAddress)="getFormattedAddress($event)"
              (street_number)='street_number=$event' (street)='street=$event' (city)='city=$event' (state)='state=$event' (district)='district=$event'
              (country)='country=$event' (postal_code)='postal_code=$event' (lat)='lat=$event' (lng)='lng=$event' (adr_address)='adr_address=$event'
              (name)='name=$event' (place_id)='place_id=$event' (types)='types=$event' (url)='url=$event' (utc_offset)='utc_offset=$event'
              (vicinity)='vicinity=$event' (photos)='photos=$event' (CountryCodes)='CountryCodes=$event' id="autocomplete"
              angularGooglePlace/>
          </div>



          <button class="btn waves-effect waves-light btn-search" type="submit" name="action" (click)="itinary()" style="background-color: #FF5577 ">{{'COMMON.SEARCH' | translate}}
            <i class="material-icons right">search</i>
          </button>
        </div>
      </div>

      <!-- tabs 2 -->
      <div id="condition" class="col s12 tabs-content">
        <div class="row center-align tabs-inner-content">

        </div>
      </div>




    </div>
  </div>

  <!-- Map content  -->
  <div class="col s8">
    <div id="gmap" [appAutoSize]="70" style="margin-top: 0px;"></div>
  </div>

  <!-- Modal Structure -->
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
      <h4>Liste des trajets disponible autour de votre position</h4>
      <p>Aucun</p>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect waves-green btn-flat">Fermer</a>
    </div>
  </div>
</div>