<div *ngIf="user">

  <div class="row">
    <div class="col s8">
      <div class="card-panel" [appAutoSize]="95">
        <div class="title-form">
          <h4>{{ "PROFIL.TITLE" | translate }}</h4>
        </div>
        <form class="col s12">
          <!-- {{ user.id }} -->
          <div class="row first-row">
            <div class="input-field col s6">
              <i class="material-icons prefix">account_circle</i>
              <input class="validate" type="text" [(ngModel)]="user.username" name="username" id="username">
              <label for="username" class="">{{ 'LOGIN.USERNAME' | translate }}</label>
            </div>

            <div class="input-field col s6">
              <i class="material-icons prefix">email</i>
              <input class="validate" type="email" [(ngModel)]="user.email" name="email" id="email">
              <label for="email">{{ 'LOGIN.MAIL' | translate }}</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">lock</i>
              <input class="validate" type="password" [(ngModel)]="user.password" autocomplete="new-password" name="password" id="password">
              <label for="password">{{ 'LOGIN.PASSWORD' | translate }}</label>
            </div>

            <div class="input-field col s6">
              <i class="material-icons prefix">lock</i>
              <input class="validate" type="password" [(ngModel)]="user.confirmPassword" autocomplete="new-password" name="confirmPassword"
                id="confirmPassword">
              <label for="confirmPassword">{{ 'LOGIN.CONFIRM_PASSWORD' | translate }}</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">location_on</i>
              <input class="validate" type="text" [(ngModel)]="user.adress" name="adress" id="adress">
              <label for="adress">{{ 'LOGIN.ADRESS' | translate }}</label>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s5">
              <i class="material-icons prefix">location_city</i>
              <input class="validate" type="text" [(ngModel)]="user.town" name="town" id="town">
              <label for="town">{{ 'LOGIN.TOWN' | translate }}</label>
            </div>

            <div class="input-field col s3">
              <i class="material-icons prefix">markunread_mailbox</i>
              <input class="validate" type="text" [(ngModel)]="user.postalCode" name="postalCode" id="postalCode">
              <label for="postalCode">{{ 'LOGIN.POSTAL_CODE' | translate }}</label>
            </div>

            <div class="input-field col s4">
              <i class="material-icons prefix">public</i>
              <input class="validate" type="text" [(ngModel)]="user.country" name="country" id="country">
              <label for="country">{{ 'LOGIN.COUNTRY' | translate }}</label>
            </div>
          </div>

        </form>
      </div>
      <div class="row right-align btn-profil">
        <button class="btn waves-effect waves-light red" (click)="deleteAccount()">{{'PROFIL.DELETE' | translate}}
          <i class="material-icons right">delete_forever</i>
        </button>
        <button class="btn waves-effect waves-light green" (click)="updateProfil()">{{'PROFIL.SAVE' | translate}}
          <i class="material-icons right">save</i>
        </button>
      </div>
    </div>

    <div class="col s4">
      <div class="card-panel" [appAutoSize]="95">
        <div class="title-form">
          <h4>{{ "PROFIL.ROUTE" | translate }}</h4>
        </div>
        <div class="col s12">
          <ul class="collapsible" data-collapsible="accordion">
            <li *ngFor="let user of users" (click)="activeCollapside()">
              <div class="collapsible-header">
                <i class="material-icons">filter_drama</i>{{user.username}} : Toulouse - Bordeaux</div>
              <div class="collapsible-body">
                <span>Lorem ipsum dolor sit amet.</span>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </div>

  </div>

  <div class="row">

  </div>


</div>