<div class="container center-align" [appAutoSize]="0">
  <div class="login-form z-depth-1 row left-align">
    <form class="col s12">
      <div class="row first-row">
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <input class="validate" type="email" [(ngModel)]="username" name="username" id="username">
          <label for="username" class="">{{ 'LOGIN.FORM.ENTER_USERNAME' | translate }}</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">vpn_key</i>
          <input class="validate" type="password" autocomplete="new-password" [(ngModel)]="password" name="password" id="password">
          <label for="password">{{ 'LOGIN.FORM.ENTER_PASSWORD' | translate }}</label>
        </div>
      </div>
      <br>
      <div class="row">
        <button type="submit" name="btn_login" (click)="login()" class="col s12 btn btn-large btn-default waves-effect">{{'LOGIN.FORM.VALIDATE' | translate}}</button>

      </div>
      <div class="row">
        <div class="col s12 center-align">
          <a class="pink-text" routerLink="/login/reset">
            <b>{{ 'LOGIN.FORM.FORGOT_PASSWORD' | translate }}</b>
          </a>
        </div>
        <div class="col s12 center-align">
          <a class="blue-text" routerLink="/register">
            <b>{{ 'LOGIN.LINK.SIGNUP' | translate }}</b>
          </a>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- <app-change-password></app-change-password> -->