<nav style="background-color: #05668D" *ngIf="isAuthenticated | async">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Carpool</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a (click)="openProfil()">{{currentUser ? currentUser.email : ''}}</a>
      </li>
      <li>
        <a (click)="logout()">
          <i class="material-icons left">exit_to_app</i>
          {{ 'HEADER.BUTTON.DISCONNECT' | translate }}
        </a>
      </li>
    </ul>
  </div>
</nav>