.input-field .prefix {
    top: 10px;
}

.title {
  padding-top: 20px;
}

.row {
  margin-bottom: 0px;
}

#gmap {
  margin: 0;
    padding: 0;
    width: 100% !important;
  height: 100%;
  position: relative;
}

.row .col {
  padding: 0;
}

.form-destination {
  padding-top: 40px;
}

.travel-details { 
  padding-top: 5%;
}